@page
@using FUMiniHotelManagementRazorPage.Pages.SessionHelpers
@model FUMiniHotelManagementRazorPage.Pages.Customers.EditModel

@{
    ViewData["Title"] = "Edit";
    var token = SessionHelper.GetObjectFromJson<string>(HttpContext.Session, "token");
    var role = DecodeRoleFromToken(token);
}



@if (token == null)
{
    <h1>You must login to access this feature!</h1>
}
else if (role != "Admin")
{
    <h1>You do not have permission to access this feature!</h1>
}
else
{

    <h1>Edit</h1>

    <h4>Customer</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Customer.CustomerId" />
                <div class="form-group">
                    <label asp-for="Customer.CustomerFullName" class="control-label"></label>
                    <input asp-for="Customer.CustomerFullName" class="form-control" />
                    <span asp-validation-for="Customer.CustomerFullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.Telephone" class="control-label"></label>
                    <input asp-for="Customer.Telephone" class="form-control" />
                    <span asp-validation-for="Customer.Telephone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.EmailAddress" class="control-label"></label>
                    <input asp-for="Customer.EmailAddress" class="form-control" />
                    <span asp-validation-for="Customer.EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.CustomerBirthday" class="control-label"></label>
                    <input asp-for="Customer.CustomerBirthday" class="form-control" />
                    <span asp-validation-for="Customer.CustomerBirthday" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.CustomerStatus" class="control-label"></label>
                    <input asp-for="Customer.CustomerStatus" class="form-control" />
                    <span asp-validation-for="Customer.CustomerStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.Password" class="control-label"></label>
                    <input asp-for="Customer.Password" class="form-control" />
                    <span asp-validation-for="Customer.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index" asp-route-token="@Model.Token">Back to List</a>
    </div>

}

@functions {
    // Method to decode role from the token
    private string DecodeRoleFromToken(string token)
    {
        try
        {
            return SessionHelper.DecodeRoleFromToken(token);
        }
        catch (Exception ex)
        {
            // Handle exception (e.g., log it, return default role, etc.)
            return null; // or return a default role
        }
    }
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
